<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="font-weight-bold">Productos</h1>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin/dashboard" href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lista de productos</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <a routerLink="/admin/products/create" href="#" class="btn btn-light border"><i class="fas fa-plus-circle"></i> Agregar producto</a>
          </div>
        </div>
        <div class="col-md-6">
          <app-search [searchBy]="searchBy" (searchEvent)="searchProducts($event)" (clearEvent)="clear()"></app-search>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body py-0 px-0">
              <div class="table-responsive">
                <table class="table table-borderless table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>CÓDIGO</th>
                      <th>NOMBRE</th>
                      <th>DESCRIPCIÓN</th>
                      <th>PRECIO DE COMPRA</th>
                      <th>PRECIO DE VENTA</th>
                      <th>CATEGORÍA</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td *ngIf="products.length === 0" class="text-center" colspan="8">
                        <p>Datos no disponibles</p>
                      </td>
                    </tr>
                    <tr *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: p }">
                      <td class="font-weight-bold">{{ product.id }}</td>
                      <td>{{ product.code }}</td>
                      <td>{{ product.name }}</td>
                      <td>{{ product.description }}</td>
                      <td>${{ product.purchase_price }}</td>
                      <td>${{ product.sale_price }}</td>
                      <td>{{ product.category?.name }}</td>
                      <td class="text-right">
                        <div class="btn-group">
                          <a routerLink="/admin/products/{{ product.id }}" href="#" class="btn btn-light border" title="ver detalles"><i class="fas fa-info-circle"></i></a>
                          <a routerLink="/admin/products/{{ product.id }}/edit" href="#" class="btn btn-light border" title="Editar"><i class="fas fa-marker"></i></a>
                          <button (click)="deleteProduct(product.id)" type="button" class="btn btn-light border" title="Eliminar"><i class="fas fa-trash"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row text-center">
                <div class="col-md-12">
                  <pagination-controls (pageChange)="p = $event" [responsive]="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
